/*
    NavigationButton descriptions (search results)
*/

.v-touchkit-navbutton-desc {
    float: left;
    color: black;
    font-weight: bold;
}

div .v-touchkit-navbutton-desc {
    float: left;
    color: black;
    font-weight: bold;
}
